@import url(./reset.css);
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #000;
  font-size: 10px;
  color: #fff;
}
.container {
  width: 100%;
}
header {
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0px;
  margin: 0 35px;
  color: #fff;
  margin-bottom: 30px;
  display: flex;
}

.nav-left {
  display: flex;
}

.main-logo {
  width: 120px
}
ul.nav-left-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.nav-left-list > li {
  padding: 0 15px;
  font-size: 1.2rem;
}

ul.nav-left-list > li:hover {
  text-decoration: underline;
}

section {
  padding: 0 50px;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 70px;
  overflow: hidden;
}

.section-title {
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.slider {
  width: 100%;
  height: 150px;
  /* overflow: hidden; */
  position: relative;
}

.slider > ul.list {
  width: 8040px;
  display: flex;
  /* transition: all 1s; */
  transform: translateX(-1340px);
  column-gap: 5px;
}
.slider > ul > li {
  width: 268px;
  height: 150px;
  color: #fff;
  font-size: 1.2rem;

}

.slider > ul > li:hover {
  transition: 0.4s all;
  transform: scale(1.2);

}

.slider > ul > li > img{
  object-fit: cover;
  width: 100%;

}

.slider > ul > li > p {
  color: #fff;
  height: 20px;
}

.fas {
  width: 50px;
  height: 150px;
  font-size: 4rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.fa-chevron-left {
  /* opacity: 0; */
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}
.fa-chevron-right {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}





