@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 숨긴 콘텐츠 */
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

*, *::before, *::after {

  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Cafe24Ssurround';
}


html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,fieldset,button,p{
  margin: 0;
  padding: 0;
}

ul,
ol,
li {

  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Cafe24Ssurround';
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

input {
  border: none;
  outline: none;
}
